google-genai
streamlit
langchain
langchain-community
langchain-openai
openai
google-generativeai
streamlit>=1.28
langchain==0.0.350
openai>=1.2
duckduckgo-search
anthropic>=0.3.0
trubrics>=1.4.3
streamlit-feedback
langchain-community==0.0.3
